<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>

<p>
  <b>Percent complete:</b>
  <%= @task.percent_complete %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', @task.goal %>
