<%= form_for(@achievement_type) do |f| %>
  <% if @achievement_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achievement_type.errors.count, "error") %> prohibited this achievement_type from being saved:</h2>

      <ul>
      <% @achievement_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :icon_url %><br />
    <%= f.text_field :icon_url %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
