<div id="goal_<%= goal.id %>" class="<%= cycle('_odd', '_even') %>">
	<div class="goal_name">
		<%= link_to truncate(strip_tags(goal.name), :length => 80), goal %> <span style="color:black">by</span> <%= link_to goal.user.name, '/'+goal.user.name %>
	</div> <!-- goal_name -->
	<div class="goal_description">
		<%= goal.description %>
	</div> <!-- goal_description -->
</div> <!-- goal_<%= goal.id %> -->