<% title "Home" %>
<div id="home">
	<h1>Howdy <%= user_signed_in? ? current_user.name : 'stranger' %>!</h1>
	<div>
    <div>Research has shown that having and sharing goals leads to success. We want to help you succeed with an easy-to-use goal-tracking system that keeps you motivated and organized: <%= link_to "Social Goals", root_path %>. We hope you'll like it. 
		</div>
		<br/>
		<div>To start, create an account then input your goals and the steps to achieve each goal. Our search feature allows you to find users with similar goals so you can discuss how to succeed, offer support, and maybe even find a better way.
		</div>
		<br/>
		<div><%= link_to "Social Goals", root_path %> is still in its infancy. If you have feedback or suggestions, <%= link_to "please share", 'http://www.google.com/moderator/#16/e=49eb1' %>!
		</div>
	</div>
	<br>
	<br>
	<div id="recent_activity">
		<h1>Recent Activity</h1>
		<% if @goals.empty? %>
			Be the first to share your goals!
		<% else %>
			<%= render :partial => "home/goal", :collection => @goals %>
		<% end %>
	</div> <!-- recent_activity -->
</div> <!-- home -->
