<div id="login">
	<div id="login_header">
		<h1>Login</h1>
	</div> <!-- login_header -->
	<div id="login_body">
		<div id="user_signup">
    	<%= link_to "Sign up", new_user_registration_path, :class => "link" %>
		</div> <!-- user_signup -->
		or
		<div id="user_signin">
 			<%= link_to "Sign in", new_user_session_path, :class => "link" %>
		</div> <!-- user_signin -->
	</div> <!-- login_body -->
<div style="clear:both"> <br/> </div>
<div id="main_top" style="display:none">
  <ul class="link_menu">
    <li class="link_button"><%= link_to 'Home', root_path %></li>
    <li class="link_button"><%= link_to 'My Goals', goals_index_path %></li>
    <li class="link_button"><%= link_to "My Achievements", achievements_index_path %></li>
  </ul> <!-- link_menu -->
	<div style="clear:both"><br/></div>
</div> <!-- main_top -->
</div> <!-- login -->
