<div id="goal_<%= goal.id %>" class="<%= cycle('goal_odd', 'goal_even') %>">
	<div class="goal_delete">
		<%= link_to 'x', goal, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
	</div> <!-- goal_delete -->
	<div class="goal_name">
		<%= link_to goal.name, goal %>
	</div> <!-- goal_name -->
	<div class="goal_public">
		<% if goal.public == true %>
			<div class="public_goal_on">Public</div>
			<div class="private_goal_off">PP</div>
		<% else %>
			<div class="public_goal_off">PP</div>
			<div class="private_goal_on">Private</div>
		<% end %>
	</div> <!-- goal_public -->
	<div class="goal_description">
		<%= goal.description %>
	</div> <!-- goal_description -->
	<div style="display:none"><%= button_to 'Make Public', goals_path(goal), 
	:remote => true, :method => :update, %> </div>
</div> <!-- goal_<%= goal.id %> -->