<div id="goal_<%= goal.id %>" class="<%= cycle('_odd', '_even') %>">

	<div class="goal_delete">
		<%= link_to 'x', goal, :confirm => 'Really delete this goal?', 
				:method => :delete, :remote => true %>
	</div> <!-- goal_delete -->

	<div class="goal_name">
		<%= link_to truncate(strip_tags(goal.name), 
		:length => 80), goal %>
	</div> <!-- goal_name -->

	<div class="goal_public">
		<%= form_for(goal, :remote => true) do |f| %>
			<%= f.hidden_field :public, { :value => !goal.public } %>
		<% end %>
		<% if goal.public == true %>
			<div class="public_goal_on">Public</div>
			<div class="private_goal_off">PP</div>
		<% else %>
			<div class="public_goal_off">PP</div>
			<div class="private_goal_on">Private</div>
		<% end %>
	</div> <!-- goal_public -->
</div> <!-- goal_<%= goal.id %> -->