<h3><%= @goal.name %></h3>
<i>(This goal is currently <%= @goal.public? ? 'public' : 'private' %>.)</i>
<p>
  <%= @goal.description %>
</p>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

<br><br>
<b>Tasks:</b> <%= 'none' if @goal.tasks.empty? %>
<table>
<% @goal.tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %> <%= display_time_left(task) %></td>
    <td><%= task.percent_complete %>% complete</td>
  </tr>
<% end %>
</table>

<br>
<hr>
<br>

<b>Add Task</b>
<%= render 'tasks/form' %>
