<h1>Goal: <%= @goal.name %></h1>
<i>(This goal is currently <%= @goal.public? ? 'public' : 'private' %>.)</i>
<p>
  <%= @goal.description %>
</p>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

<br>
<br>

<h1>Tasks</h1>
<div id="tasks_list">
	<%= render :partial => 'tasks/task', :collection => @goal.tasks %>
</div> <!-- tasks_list -->

<br />

<div id="new_task_container" style="display:none">
	<%= render 'tasks/form' %>
</div> <!-- new_task -->

<div id="new_task_button"><a href="JavaScript:void()" class="clickable_button">New Task</a></div>

<%#= link_to 'New Task', '', :id => "new_task_button1", :class => "clickable_button1" %>

<br/>

