<div id="achievements">
	<h1> Coming soon! </h1>
	<br/>
	
	<h3>Your achievements</h3>

	<div style="display:none">
		<% @achievements.each do |achievement| %>
		  <div>
			<div><%= achievement.level.achievement_type.name %></div>
			<div><%= achievement.level.name %></div>
		    <div>><%= achievement.public %></div>
		    <div><%= link_to 'Show', achievement %></div>
		    <div><%= link_to 'Edit', edit_achievement_path(achievement) %></div>
		    <div><%= link_to 'Destroy', achievement, :confirm => 'Are you sure?', :method => :delete %></div>
		  </div>
		<% end %>
	</div>
	
	<br class="clear:both"/>
	<div id="achievements_body">
	  <div class="achievement" id="ach2" onclick="Achieve.Achievements.select(this,true)">
	    <div class="achievement-icon"><img class="p" src="/images/fst_iconframe.png"></div>
	    <div class="achievement-title">Title</div>
	    <div class="achievement-description">Description</div>
	    <div class="achievement-points"><div>10</div></div>
	    <div class="achievement-date">December 2, 2010</div>
	    <br clear="all">
	  </div> <!-- ach2 -->

	  <div class="achievement" id="ach3" onclick="Achieve.Achievements.select(this,true)">
	    <div class="achievement-icon"><img class="p" src="/images/fst_iconframe.png"></div>
	    <div class="achievement-title">Title</div>
	    <div class="achievement-description">Description</div>
	    <div class="achievement-points"><div>10</div></div>
	    <div class="achievement-date">December 2, 2010</div>
	    <br clear="all">
	  </div> <!-- ach3 -->

	  <div class="achievement" id="ach4" onclick="Achieve.Achievements.select(this,true)">
	    <div class="achievement-icon"><img class="p" src="/images/fst_iconframe.png"></div>
	    <div class="achievement-title">Title</div>
	    <div class="achievement-description">Description</div>
	    <div class="achievement-points"><div>10</div></div>
	    <div class="achievement-date">December 2, 2010</div>
	    <br clear="all">
	  </div> <!-- ach4 -->

	</div> <!-- achievements_body -->
</div> <!-- achievements -->

