<div id="achievements">
	<h1>Listing achievements</h1>

	<table>
	  <tr>
		<th>Achievement Type</th>
		<th>Level</th>
	    <th>Public</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

		<% @achievements.each do |achievement| %>
		  <tr>
			<td><%= achievement.level.achievement_type.name %></td>
			<td><%= achievement.level.name %></td>
		    <td><%= achievement.public %></td>
		    <td><%= link_to 'Show', achievement %></td>
		    <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
		    <td><%= link_to 'Destroy', achievement, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</table>
</div> <!-- achievements -->

