<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Whichado" %></title>
  <%= stylesheet_link_tag :all %>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>
  <div id="page">
    <div id="top_bar">
			<div id="top_bar_container">
				<div id="top_bar_logo">
					<%= link_to "Whichado", root_path %>
				</div> <!-- top_bar_logo -->
				<div id="top_bar_links">
					<% if user_signed_in? %>
						<div id="top_bar_username" class="link_button">
							<%= link_to current_user.email, edit_user_registration_path %>
						</div> <!-- top_bar_username -->
					<% end %>
					<div id="top_bar_home" class="link_button">
						<%= link_to 'Home', root_path %>
					</div> <!-- top_bar_home -->
					<div id="top_bar_goals" class="link_button">
						<%= link_to 'Goals', goals_index_path %>
					</div> <!-- top_bar_goals -->
					<div id="top_bar_achievements" class="link_button">
						<%= link_to "Achievements", achievements_index_path %>
					</div> <!-- top_bar_achievements -->
					<% if user_signed_in? %>
						<div id="user_signout" class="link_button">
					    <%= link_to "Sign out", destroy_user_session_path %>
						</div> <!-- user_signout -->
					<% else %>
						<div id="user_login" class="link_button">
					    <%= link_to "Login", home_login_path %>
						</div> <!-- user_login -->
					<% end %>
		    </div> <!-- top_bar_links -->
			</div> <!-- top_bar_container -->
    	<div style="clear:both"> <br/> </div>
    </div> <!-- top_bar -->

    <div id="site">
			<div id="banner">
				<div id="banner_top">
					10,000+ people are using Whichado to achieve anything<span class="strong">*</span>
				</div> <!-- banner_top -->
				<div id="banner_bottom">
					<span class="strong">*</span>Not really, but our moms think its cool! &nbsp;
	    	</div> <!-- banner_bottom -->
			</div> <!-- banner -->
			<div id="notices">
				<p class="notice"><% notice %></p>
      	<p class="alert"><%= alert %></p>
			</div> <!-- notices -->

      <div id="content">
        <%= yield %>
      </div> <!-- content -->
    	<div style="clear:both"><br/></div>

  	</div> <!-- site -->

		<div id="footer">
			Some footer content
		</div> <!-- footer -->

	</div> <!-- page -->
</body>
</html>
