<!DOCTYPE html>
<html>
<head>
  <title>Whichado - <%= yield(:title) || "Home" %></title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "jquery.rails.js" %>
	<%= javascript_include_tag "application.js" %>	
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>
	<div id="page">
    <div id="top_bar">
			<div id="top_bar_container">
				<div id="top_bar_logo">
					<%= link_to "Whichado", root_path, :class => "logo" %>
				</div> <!-- top_bar_logo -->
				<div id="top_bar_links">
					<% if user_signed_in? %>
						<div id="top_bar_username" class="link_button">
							<%= link_to current_user.name, edit_user_registration_path %>
						</div> <!-- top_bar_username -->
					<% end %>
					<div id="top_bar_home" class="link_button">
						<%= link_to 'Home', root_path %>
					</div> <!-- top_bar_home -->
					<div id="top_bar_goals" class="link_button">
						<%= link_to 'Goals', goals_path %>
					</div> <!-- top_bar_goals -->
					<% if user_signed_in? %>
						<div id="top_bar_signout" class="link_button">
					    <%= link_to "Sign out", destroy_user_session_path %>
						</div> <!-- user_signout -->
					<% else %>
						<div id="top_bar_login" class="link_button">
					    <%= link_to "Sign in", new_user_session_path %>
						</div> <!-- top_bar_login -->
					<% end %>
		    </div> <!-- top_bar_links -->
			</div> <!-- top_bar_container -->
    	<div style="clear:both"> <br/> </div>
    </div> <!-- top_bar -->

    <div id="site">
			<div id="banner">
				<div id="banner_top">
					No matter what you do, Whichado*
				</div> <!-- banner_top -->
				<div id="banner_bottom">
					*Goal tracking that helps you achieve anything &nbsp;
	    	</div> <!-- banner_bottom -->
			</div> <!-- banner -->
			<div id="notices">
				<div id="notices_info"> </div> <!-- notices_info -->
				<div class="notice"><%= notice %></div>
      	<div class="alert"><%= alert %></div>
			</div> <!-- notices -->

      <div id="content">
        <%= yield %>
      </div> <!-- content -->
    	<div style="clear:both"><br/></div>

  	</div> <!-- site -->
  </div> <!-- page -->
</body>
</html>
